:root {
    --background-webiste: rgb(20, 54, 150);
    --font-color: rgb(247, 228, 204);
    --button-background: rgb(50, 1, 1);
    --button-border-color: rgb(220, 246, 245);
    --button-text-color: rgb(230, 3, 3);
    --button-active-color: rgba(152, 103, 43, 0.6);
    --modal-overlay-color: rgb(20, 54, 150, 0.9);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-webiste);
    color: var(--font-color);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.container {
    display: block;
    margin: 0 auto;
}

ul {
    margin: 7px 0 0 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
}

li li{
    display: inline;
}

.logo {
    width: 50px;
}

.pokemon-list--button {
    color: var(--button-text-color);
    background-color: var(--button-background);
    border-width: 4px;
    border-color: var(--button-border-color);
    margin-bottom: 3px;
    width: 400px;
}

.loading {
    color: var(--button-text-color);
}

.hide {
    display: none;
}

.modal-container {
    display: none;
}

.modal-container.is-visible {
    display: grid;
    text-align: center;

    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--modal-overlay-color);

    z-index: 999;

    overflow: auto;
}

.modal { 
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    border-width: 5px;
    border-style: dashed;
    border-color: var(--button-border-color);
}

.modal h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px;
}

.modal img {
    width: 380px;
    margin: 0 auto;
    padding: 10px;
}

.modal li {
    list-style: none;
}
.modal__closing-button {
    color: var(--button-text-color);
    background: none;
    border: 0;
    text-decoration: underline;
}

.modal__closing-button:hover {
    color: var(--font-color);
}

.modal__closing-button:active {
    color: var(--button-active-color);
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .pokemon-list--button {
        width: 300px;
    }

    .modal {
        width: 300px;
    }


.modal img {
    width: 280px;
    margin: 0 auto;
    padding: 7px;
}

}

@media all and (max-width: 500px) {
    .pokemon-list--button {
        width: 200px;
    }

    .modal {
        width: 200px;
    }


.modal img {
    width: 180px;
    margin: 0 auto;
    padding: 5px;
}

}