:root {
    --background-webiste: rgb(20, 54, 150);
    --font-color: rgb(247, 228, 204);
    --button-background: rgb(50, 1, 1);
    --button-border-color: rgb(220, 246, 245);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-webiste);
    color: var(--font-color);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.container {  
    display: block;
    margin: 0 auto;
}

ul {
    margin: 7px 0 0 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-align: center;
}

.logo {
    width: 50px;
}

.pokemon-list--button {
    color: rgb(230, 3, 3);
    background-color: var(--button-background);
    border-width: 4px;
    border-color: var(--button-border-color);
    margin-bottom: 3px;
    width: 400px;
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .pokemon-list--button {
        width: 300px;
    }
}

@media all and (max-width: 500px) {
    .pokemon-list--button {
        width: 200px;
    }
}


