:root {
    --background-webiste: rgb(20, 54, 150);
    --font-color: rgb(247, 228, 204);
    --button-background: rgb(50, 1, 1);
    --button-border-color: rgb(220, 246, 245);
    --button-text-color: rgb(230, 3, 3);
    --button-active-color: rgba(152, 103, 43, 0.6);
    --modal-overlay-color: rgb(20, 54, 150, 0.9);
    --yellow: rgb(179, 179, 21);

    --header-font: "Jersey 10", sans-serif;
    --body-font: "Ubuntu", sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-webiste);
    color: var(--font-color);
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
}

.nav-adjustment {
    height: 80px;
}

.navbar-brand {
    font-family: var(--header-font);
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.container {
    display: block;
    margin: 0 auto;
}

#pokemon-list {
    margin: 7px 0 0 0;
    padding: 0;
}

.list-group-item {
    background-color: rgb(0, 0, 0, 0);
    border: 0;
    padding: 5px
}

.btn-custom:hover {
    background-color: black;
    color: var(--background-webiste);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    list-style: none;
}

li li {
    display: inline;
}

.pokemon-list--button {
    color: var(--button-text-color);
    background-color: var(--button-background);
    border-width: 4px;
    border-color: var(--button-border-color);
    margin-bottom: 3px;
    width: 200px;
}

.modal img {
    width: 180px;
    margin: 0 auto;
    padding: 5px;
}

.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    color: var(--button-text-color);
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.modal {
    color: var(--background-webiste)
}

.modal__pokemon-img {
    width: 180px;
    margin: 0 auto;
    padding: 10px;
}

.btn-secondary {
    background-color: var(--background-webiste)
}

[aria-hidden="true"] {
    color: var(--background-webiste);
}

.highlight {
    color: var(--yellow);
}

/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .pokemon-list--button {
        width: 250px;
    }
}

/*Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) {
    .pokemon-list--button {
        width: 300px;
    }
}

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) {
    .pokemon-list--button {
        width: 350px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) {
    .pokemon-list--button {
        width: 400px;
    }
}